.hero{
    color: rgb(250, 250, 250);
    width: 100%;
    height: 200px;
    background-size: cover;
    text-align: center;
    margin-top: 20px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/620/81/253/pattern-design-dark-texture-wallpaper-preview.jpg")  ;
    padding-top: 50px;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#tabs{
    margin-top: 50px;
    margin-bottom: -50px;
}

